<% layout('layouts/boilerplate') %>

<div class="m-auto d-grid position-absolute top-50 start-50 translate-middle">
    <a href="/categories"><button id="btn-masuk" class="btn btn-primary btn-lg m-auto mb-3">Masuk</button></a>

</div>