.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

main {
  margin-top: 4rem;
}

.mainIndex {
  /* added by js */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: white;

}

.bodyIndex {
  background: linear-gradient(0deg, rgba(29, 33, 78, 1) 0%, rgba(4, 215, 162, 1) 76%);
}

textarea {
  max-height: 300px;
}

#nav {
  background-color: #04d7a2;
  color: #1d214e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 10px;

}

.navIndex {
  width: 50% !important;
  left: auto !important;
  right: 0 !important;
}

#navSearch form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}


#navSearch .input-group span {
  border-radius: 30px 0 0 30px;
  border: 0px;
  background-color: #1d214e2a;
  color: #1d214e;
}

#navSearch .input-group input {
  border-radius: 0 30px 30px 0;
  border: 1px solid #ffffff;
  color: #1d214e;
}

#navSearch .labelForm {
  display: flex;
  align-self: center;
  min-width: max-content;
  padding: 5px;
}

#navSearch button {
  display: flex;
  align-self: center;
  min-width: max-content;
}

@media only screen and (max-width: 600px) {
  #navSearch form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }

  #navSearch form .input-group {
    margin: 5px 0 5px 0 !important;
  }
}

.navMenu {
  color: #1d214e;
  display: flex;
  text-align: center;
  font-size: 16px;
  height: max-content;
  width: max-content;
  padding: 0.4em;
}


.spanMaterialSymbol {
  vertical-align: middle;
}


.navbar-brand {
  color: #1d214e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border: 0 !important;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
}

.navAuth {
  color: #1d214e;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  border: 2px solid #ffffff00;
  padding: 10px 5px !important;
}

.navAuth:hover {
  border: 2px solid #1d214e;
}

.navAuth span {
  display: flex;
  line-height: 10px;
}

.footer {
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: min-content;
}

.card {
  border-radius: 20px !important;
  border: 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

/* -----INDEX PAGE------- */
/* -----INDEX PAGE------- */
/* -----INDEX PAGE------- */

#categoryIndexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navReplacementIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem;
}

#navReplacementIndex .navIndexContainer {
  display: flex;
}

#indexTopContainer {
  display: flex;
  flex-direction: column;
}

#arrowDownIndex {
  display: flex;
  justify-content: center;
  transition: 0.3s;
  font-size: 30px;
  cursor: pointer;
  color: #1d214e;
}

#arrowDownIndex:hover {
  font-size: 40px;
}

#indexSearchContainer {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 20px 0;

  /* background: rgb(29, 33, 78);
  background: linear-gradient(0deg, rgba(29, 33, 78, 1) 0%, rgba(4, 215, 162, 1) 76%); */
  overflow: hidden;
}

#indexSearch {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#indexSearch form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexSearch .inputContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#indexSearch .inputContainer input {
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 100px;
  background-color: #04d7a200;
  /* background-color: #ff9900; */
  border: 0;
  font-size: 30px;
  color: #1d214e;
  transition: 0.3s;
  padding: 10px 20px;
  text-align: center;
}

#indexSearch .inputContainer input::placeholder {
  font-size: 20px;
  display: flex;
  text-align: center;
}

#indexSearch .inputContainer input:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 120%;
}

#indexSearch .inputContainer input:focus {
  width: 120%;
}

#indexSearch .inputContainer label {
  border: 0;
  background-color: #04d7a200;
  font-size: 20px;
  color: #1d214e;
  margin-bottom: 0;
}

/* why make buttonContainer ? because <button> display cannot be changed */
#indexSearch .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #1d214e;
  width: 50px;
  height: 50px;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 100px;
  transition: 0.3s;
  line-height: 14px;
  font-size: 12px;
  /* border: 2px solid #04d7a2; */
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
}

#indexSearch .buttonContainer:hover {
  width: 100px;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#indexSearch button {
  background-color: #1d214e;
  border: 5px;
  width: inherit;
  height: inherit;
  color: #04d7a2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#indexSearch .labelForm {
  font-size: 30px;
  color: #1d214e;
}


/* index Bottom  */
.cardIndex {
  width: 80%;
  max-width: 95%;
  height: 100px;
  transition: 0.3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* centering while NOT on display : flex */
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.cardIndex:hover {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.cardIndexHeader {
  /* border-bottom: 4px solid #04d7a2 !important; */
  background-color: #04d7a2;
  color: #1d214e;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

.cardIndexBody {
  color: #1d214e;
  /* background-color: #ff9900; */
  /* background-image: linear-gradient(to right, #ff9900, #ff9900, #04d7a2); */
  text-align: center;
  display: flex;
  justify-content: center;
}

#paginationIndex {
  display: flex;
  justify-content: center;
}

#paginationIndex .page-link {
  color: #1d214e;
  background-color: #04d7a2;
  border: 2px solid #1d214e;
  border-radius: 100%;
}



.cardShow {
  max-width: 60%;
  margin: auto;
}

.card-body {
  text-align: justify;
}

button {
  border-radius: 4px !important;
}

.form-control {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  background-color: white;
}

.image-post-index {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.image-post-show {
  max-height: 450px;
  width: auto;
  object-fit: cover;
}

.image-post-userShow {
  max-height: 300px;
  object-fit: cover;
}

#cardShowHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  background-color: #edf0ef;
  border-bottom: 1px solid #d8d9d9;
}


.buttonContainerShow {
  display: grid;
  justify-content: space-between;
}

.buttonContainerShow div,
.buttonContainerShow a {
  grid-row-start: 1;
}

#buttonShow {
  display: flex;
  justify-content: end;
}

#buttonShow form,
#buttonShow a {
  display: inline-block;
  margin-left: 0.5em;
}

#commentsShow form {
  display: flex;
  justify-content: flex-end;
}

#commentsShow .card-header {
  display: flex;
  justify-content: space-between;
}

.profileBgImage {
  height: 15em;
}

.profileImageWrapper {
  height: 40px;
}

.profileImage {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid whitesmoke;
  position: relative;
  top: -10em;
}

.headerCardDesc {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.ownerName {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 0.5em;
  color: #ffca2c;
  text-transform: uppercase;
  font-size: 14px;
}

.postTitle {
  display: block;
  color: black;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

.postDescription {
  color: black;
  text-decoration: none;
}

.postHashtag {
  text-decoration: none;
}

#btn-masuk {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-primary {
  background-color: #1d214e;
  border: 1px solid #1d214e;
}

.btn-secondary {
  background-color: #04d7a2;
  border: 1px solid #04d7a2;
  color: #1d214e;
  transition: 0.3s;
  width: 150px;
}

.btn-secondary:hover {
  background-color: #1d214e;
  border: 1px solid #1d214e;
  color: #04d7a2;
  width: 200px;
}

.btn-danger {
  background-color: #dc222a;
  border: 1px solid #dc222a;
}

.btnNewCustom {
  width: 70px;
}

.alert-dismissible {
  position: absolute;
  margin: auto;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  padding: 10px;
  max-width: 500px;
  margin-bottom: 15px;
}

.alert-dismissible .btn-close {
  padding: 14px;
}



.cardHeaderColored {
  background-color: #04d7a2;
  background-image: linear-gradient(to left, #1d214ea9, #04d7a2);
}

/* -----CATEGORY PAGE------- */
/* -----CATEGORY PAGE------- */
/* -----CATEGORY PAGE------- */
/* #cardCategoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.cardCategory {
  transition: 0.3s;
}

.cardCategory:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* 
.cardCategory:hover {
  width: 100%;
} */

/* -----ANSWERER PAGE------- */
/* -----ANSWERER PAGE------- */
/* -----ANSWERER PAGE------- */

.cardAnswerer {
  height: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  color: #1d214e;
  background-color: #04d7a2;
  transition: 0.3s;
}

.cardAnswerer div {
  position: absolute;
  top: 50%;
  line-height: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.cardAnswerer:hover {
  background-color: #0cbc98;
}

.titlePageAnswerer {
  display: flex;
  color: #1d214e;
  justify-content: center;
  font-weight: bold;
}


/* -----EVALUATE PAGE------- */
/* -----EVALUATE PAGE------- */
/* -----EVALUATE PAGE------- */

.evaluateQnA {
  display: flex;
  justify-content: space-between;
  margin: 40px 5%;
}

.evaluateQnA .card {
  display: inline-block;
  width: 47%;
}

.evaluateQnA .card-header {
  color: #1d214e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.evaluateQnA .card-header-question {
  background-color: #04d7a2;
  background-image: linear-gradient(to left, #1d214e81, #04d7a2);
}

.evaluateQnA .card-header-answer {
  background-color: #04d7a2;
  background-image: linear-gradient(to right, #1d214e81, #04d7a2);
}

.evaluatePageHeaderContainer {
  display: flex;
  flex-direction: column;
}

.evaluatePageHeader {
  display: inline;
  justify-content: center;
  text-align: center;
  border: 0;
  background-color: #ff9900;
  padding: 5px 20px;
  margin-top: 10px;
  box-shadow: none;
}

.answerMCQ .form-check-input {
  border-radius: 100%;
  margin: 0;
  border: 4px solid #a4a4a4;
}

.answerMCQ-option {
  display: grid;
  grid-template-columns: 25px 25px auto;
  margin: 10px 0;

  border-radius: 15px;
}

.answerMCQ-option label {
  display: flex;
  align-self: center;
  justify-self: center;
}

.answerMCQ-option .answerMCQ-textAnswer {
  grid-column-start: 3;
  padding: 0 10px 0 5px;
  display: flex;
  align-self: center;
}

.answerCorrectness {
  grid-column-start: 2;
  display: flex;
  align-self: center;
  justify-self: center;
}

.answerCorrectness span {
  display: flex;
  line-height: 10px;
}

.correctAnswer {
  background-color: #19875463;
}

.wrongAnswer {
  background-color: #dc354663;
}




/* ---------- */
/* ---------- */
/* NEW AND EDIT PAGE */
/* ---------- */
/* ---------- */
.newAndEditFormContainer {
  background-color: #04d7a2;
  padding: 50px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  color: #1d214e;
}

.newAndEditFormContainer .form-control {
  color: #1d214e;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


/* ---------- */
/* ---------- */
/* ABOUT PAGE */
/* ---------- */
/* ---------- */


#aboutNav {
  position: fixed;
  width: 100%;
  height: 70px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#aboutNavBrand {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  color: #03ac0e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#aboutNavBrand span {
  font-size: 26px;
  font-weight: 600;
}

#aboutNav .btn {
  height: 40px;
  background-color: #b0e5b3;
  border: 2px solid #03ac0e;
  color: #03ac0e;
}

#aboutNav .btn:hover {

  background-color: #e5cbb0;
}

#aboutMain {
  display: block;
}

#aboutMainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #b0e2e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#aboutMainHeader h2 {
  margin-top: 250px;
  margin-bottom: 50px;
  color: #03ac0e;
}

#aboutMain img {
  width: 500px;
  justify-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#desc {
  margin-top: 200px;
  text-align: justify;
  color: #73767a;
}

#aboutFAQ {
  color: #73767a;
}

#aboutFAQ h2 {
  margin: 100px 0 100px 0;
  justify-content: center;
  display: flex;
  text-align: center;
  color: #03ac0e;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #b0e5b3;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
  user-select: none;
}

.faqQuestion:hover {
  background-color: #b0e5b3;
  border: 2px solid #b0e5b3;
}

.faqAnswer {
  text-align: justify;
  padding: 20px;
  border: 2px solid #dbdcdc;
  border-radius: 10px;
  user-select: none;
  margin-bottom: 60px;
  transition: max-height 0.35s ease-in;
  max-height: 100vh;

  overflow: hidden;
}

.faqAnswerHidden {
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.35s ease-out;
  margin: 0;
  overflow: hidden;
}


/* ---------- */
/* ---------- */
/* ACCOUNT PAGE */
/* ---------- */
/* ---------- */
#showUserPageContainer {
  color: #1d214e;
}

#cardUser {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #04d7a2;
}

#cardUser .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardStatisticContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.cardStatisticContainer .card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 20%;
  margin: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #04d7a289;
}

.cardStatisticContainer .card-body {
  color: #1d214e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#showUserPageContainer .cardIndex {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #04d7a23e;
  height: fit-content;
}

#showUserPageContainer .cardIndex .card-header {
  background-color: #ffffff00;
}