.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

main {
  margin-top: 4rem;
}

.mainIndex {
  /* added by js */
  margin-top: 0;
  background: linear-gradient(0deg, rgba(29, 33, 78, 1) 0%, rgba(4, 215, 162, 1) 76%);
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: white;
}

textarea {
  max-height: 300px;
}

#nav {
  background-color: #04d7a2;
  color: #1d214e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 10px;
}


#navSearch form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}


#navSearch .input-group span {
  border-radius: 30px 0 0 30px;
  border: 0px;
  background-color: #1d214e2a;
  color: #1d214e;
}

#navSearch .input-group input {
  border-radius: 0 30px 30px 0;
  border: 1px solid #ffffff;
  color: #1d214e;
}

#navSearch .labelForm {
  display: flex;
  align-self: center;
  min-width: max-content;
  padding: 5px;
}

#navSearch button {
  display: flex;
  align-self: center;
  min-width: max-content;
}

@media only screen and (max-width: 600px) {
  #navSearch form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }

  #navSearch form .input-group {
    margin: 5px 0 5px 0 !important;
  }
}

.navMenu {
  color: #1d214e;
  display: flex;
  text-align: center;
  font-size: 16px;
  height: max-content;
  width: max-content;
  padding: 0.4em;
}


.spanMaterialSymbol {
  vertical-align: middle;
}


.navbar-brand {
  color: #1d214e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border: 0 !important;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0.5px;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
}

.navAuth {
  color: #1d214e;
  border-radius: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  border: 2px solid #ffffff00;
  padding: 10px 5px !important;
}

.navAuth:hover {
  border: 2px solid #1d214e;
}

.navAuth span {
  display: flex;
  line-height: 10px;
}

.footer {
  background-color: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: min-content;
}

.card {
  border-radius: 20px !important;
  border: 0px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

#categoryIndexContainer {
  display: flex;
  justify-content: space-between;
}

#indexSearchContainer {
  position: sticky;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background: rgb(29, 33, 78);
  background: linear-gradient(0deg, rgba(29, 33, 78, 1) 0%, rgba(4, 215, 162, 1) 76%); */
  overflow: hidden;
}

#indexSearch {
  width: 100%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#indexSearch form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexSearch .inputContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#indexSearch .inputContainer input {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 100px;
  background-color: #04d7a200;
  /* background-color: #ff9900; */
  border: 5px solid #04d7a2;
  font-size: 30px;
  color: #1d214e;
  transition: 0.3s;
}

#indexSearch .inputContainer input:hover {
  width: 120%;
}

#indexSearch .inputContainer input:focus {
  width: 120%;
}

#indexSearch .inputContainer label {
  border: 0;
  background-color: #04d7a200;
  font-size: 20px;
  color: #1d214e;
  margin-bottom: 0;
}

/* why make buttonContainer ? because <button> display cannot be changedx */
#indexSearch .buttonContainer {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100px;
  transition: 0.3s;
  border: 5px solid #04d7a2;
}

#indexSearch .buttonContainer:hover {
  width: 140px;
  height: 140px;
}

#indexSearch button {
  border: 5px;
  background-color: #ff9900;
  width: inherit;
  height: inherit;
  line-height: 32px;
  font-size: 22px;
  color: #1d214e;
}

#indexSearch .labelForm {
  font-size: 30px;
  color: #1d214e;
}

.cardIndexContainer {
  height: 100vh;
  overflow-y: scroll;
  padding-top: 4rem;
}

.cardIndex {
  width: 80%;
  max-width: 95%;
  height: 100px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #04d7a2;

}

.cardIndex:hover {
  width: 100%;
}

.cardIndexHeader {
  /* border-bottom: 4px solid #04d7a2 !important; */
  background-color: #04d7a2;
  color: #1d214e;
  border: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

.cardIndexBody {
  color: #1d214e;
  background-color: #ff9900;
  /* background-image: linear-gradient(to right, #ff9900, #ff9900, #04d7a2); */
  text-align: center;
  display: flex;
  justify-content: center;
}

.cardShow {
  max-width: 60%;
  margin: auto;
}

.card-body {
  text-align: justify;
}

button {
  border-radius: 4px !important;
}

.form-control {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  background-color: white;
}

.image-post-index {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.image-post-show {
  max-height: 450px;
  width: auto;
  object-fit: cover;
}

.image-post-userShow {
  max-height: 300px;
  object-fit: cover;
}

#cardShowHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  background-color: #edf0ef;
  border-bottom: 1px solid #d8d9d9;
}


.buttonContainerShow {
  display: grid;
  justify-content: space-between;
}

.buttonContainerShow div,
.buttonContainerShow a {
  grid-row-start: 1;
}

#buttonShow {
  display: flex;
  justify-content: end;
}

#buttonShow form,
#buttonShow a {
  display: inline-block;
  margin-left: 0.5em;
}

#commentsShow form {
  display: flex;
  justify-content: flex-end;
}

#commentsShow .card-header {
  display: flex;
  justify-content: space-between;
}

.profileBgImage {
  height: 15em;
}

.profileImageWrapper {
  height: 40px;
}

.profileImage {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid whitesmoke;
  position: relative;
  top: -10em;
}

.headerCardDesc {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.ownerName {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 0.5em;
  color: #ffca2c;
  text-transform: uppercase;
  font-size: 14px;
}

.postTitle {
  display: block;
  color: black;
  font-size: larger;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  align-self: center;
}

.postDescription {
  color: black;
  text-decoration: none;
}

.postHashtag {
  text-decoration: none;
}

#btn-masuk {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-primary {
  background-color: #1d214e;
  border: 1px solid #1d214e;
}

.btn-secondary {
  background-color: #04d7a2;
  border: 1px solid #04d7a2;
  color: #1d214e;
  transition: 0.3s;
  width: 150px;
}

.btn-secondary:hover {
  background-color: #1d214e;
  border: 1px solid #1d214e;
  color: #04d7a2;
  width: 200px;
}

.btn-danger {
  background-color: #dc222a;
  border: 1px solid #dc222a;
}

.btnNewCustom {
  width: 70px;
}

.alert-dismissible {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
  padding: 10px;
  max-width: 500px;
  margin-bottom: 15px;
}

.alert-dismissible .btn-close {
  padding: 14px;
}



.cardHeaderColored {
  background-color: #04d7a2;
  background-image: linear-gradient(to left, #1d214ea9, #04d7a2);
}

/* -----ANSWERER PAGE------- */
/* -----ANSWERER PAGE------- */
/* -----ANSWERER PAGE------- */

.cardAnswerer {
  height: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  color: #1d214e;
  background-color: #04d7a2;
  transition: 0.3s;
}

.cardAnswerer div {
  position: absolute;
  top: 50%;
  line-height: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.cardAnswerer:hover {
  background-color: #0cbc98;
}

.titlePageAnswerer {
  display: flex;
  color: #1d214e;
  justify-content: center;
  font-weight: bold;
}


/* -----EVALUATE PAGE------- */
/* -----EVALUATE PAGE------- */
/* -----EVALUATE PAGE------- */

.evaluateQnA {
  display: flex;
  justify-content: space-between;
  margin: 40px 5%;
}

.evaluateQnA .card {
  display: inline-block;
  width: 47%;
}

.evaluateQnA .card-header {
  color: #1d214e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.evaluateQnA .card-header-question {
  background-color: #04d7a2;
  background-image: linear-gradient(to left, #1d214e81, #04d7a2);
}

.evaluateQnA .card-header-answer {
  background-color: #04d7a2;
  background-image: linear-gradient(to right, #1d214e81, #04d7a2);
}

.evaluatePageHeaderContainer {
  display: flex;
  flex-direction: column;
}

.evaluatePageHeader {
  display: inline;
  justify-content: center;
  text-align: center;
  border: 0;
  background-color: #ff9900;
  padding: 5px 20px;
  margin-top: 10px;
  box-shadow: none;
}

.answerMCQ .form-check-input {
  border-radius: 100%;
  margin: 0;
  border: 4px solid #a4a4a4;
}

.answerMCQ-option {
  display: grid;
  grid-template-columns: 25px 25px auto;
  margin: 10px 0;

  border-radius: 15px;
}

.answerMCQ-option label {
  display: flex;
  align-self: center;
  justify-self: center;
}

.answerMCQ-option .answerMCQ-textAnswer {
  grid-column-start: 3;
  padding: 0 10px 0 5px;
  display: flex;
  align-self: center;
}

.answerCorrectness {
  grid-column-start: 2;
  display: flex;
  align-self: center;
  justify-self: center;
}

.answerCorrectness span {
  display: flex;
  line-height: 10px;
}

.correctAnswer {
  background-color: #19875463;
}

.wrongAnswer {
  background-color: #dc354663;
}


/* SCROLLBAR INDEX */
/* SCROLLBAR INDEX */
/* SCROLLBAR INDEX */

.scrollbar-juicy-peach::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-juicy-peach::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-juicy-peach::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
  background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.scrollbar-young-passion::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-young-passion::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-young-passion::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a),
      color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
  background-image: -webkit-linear-gradient(left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
      #b12a5b 100%);
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%,
      #b12a5b 100%);
}

.scrollbar-lady-lips::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-lady-lips::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-lady-lips::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
      to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.scrollbar-lady-lips {
  scrollbar-color: #ff9a9e #F5F5F5;
}

.scrollbar-sunny-morning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-sunny-morning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.scrollbar-sunny-morning {
  scrollbar-color: #f6d365 #F5F5F5;
}

.scrollbar-rainy-ashville::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-rainy-ashville::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-rainy-ashville::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.scrollbar-frozen-dreams::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-frozen-dreams::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-frozen-dreams::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fdcbf1), color-stop(1%, #fdcbf1),
      to(#e6dee9));
  background-image: -webkit-linear-gradient(bottom, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.scrollbar-warm-flame::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-warm-flame::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-warm-flame::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.scrollbar-night-fade::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-night-fade::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-night-fade::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background-image: -webkit-linear-gradient(bottom, #a18cd1 0%, #fbc2eb 100%);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.scrollbar-night-fade {
  scrollbar-color: #a18cd1 #F5F5F5;
}

.scrollbar-spring-warmth::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-spring-warmth::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-spring-warmth::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fad0c4), to(#ffd1ff));
  background-image: -webkit-linear-gradient(bottom, #fad0c4 0%, #ffd1ff 100%);
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

.scrollbar-winter-neva::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-winter-neva::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-winter-neva::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-dusty-grass {
  scrollbar-color: #d4fc79 #F5F5F5;
}

.scrollbar-tempting-azure::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-tempting-azure::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-tempting-azure::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.scrollbar-heavy-rain::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-heavy-rain::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-heavy-rain::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: -webkit-linear-gradient(bottom, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.scrollbar-amy-crisp::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-amy-crisp::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-amy-crisp::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #a6c0fe 0%, #f68084 100%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.scrollbar-mean-fruit::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-mean-fruit::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-mean-fruit::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #fccb90 0%, #d57eeb 100%);
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.scrollbar-mean-fruit {
  scrollbar-color: #fccb90 #F5F5F5;
}

.scrollbar-deep-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-deep-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-deep-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.scrollbar-deep-blue {
  scrollbar-color: #8ec5fc #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.scrollbar-ripe-malinka {
  scrollbar-color: #f5576c #F5F5F5;
}

.scrollbar-cloudy-knoxville::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-cloudy-knoxville::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-cloudy-knoxville::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f500;
  border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.scrollbar-morpheus-den {
  scrollbar-color: #330867 #F5F5F5;
}

.scrollbar-rare-wind::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-rare-wind::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.scrollbar-rare-wind {
  scrollbar-color: #a8edea #F5F5F5;
}

.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.scrollbar-near-moon {
  scrollbar-color: #b490ca #F5F5F5;
}

/* NEW AND EDIT PAGE */
.newAndEditFormContainer {
  background-color: #ff9900;
  padding: 50px;
  border-radius: 20px;
  border: 5px solid #04d7a2;
  color: #1d214e;
}

.newAndEditFormContainer .form-control {
  color: #1d214e;
}