<% layout('layouts/boilerplate') %>
<div id="categoryIndexContainer">

  <div class="col-6 cardIndexContainer scrollbar scrollbar-morpheus-den">
    <% for (let category of categories) {%>
    <div class=" card cardIndex my-4">
      <a href="/categories/<%= category._id %>" class="text-decoration-none">
        <div class="card-header cardIndexHeader ">
          <%= category.authorName %>
        </div>
        <div class="card-body cardIndexBody">
          <h5 class="card-title">
            <%= category.categoryName %>
          </h5>
        </div>
      </a>
    </div>
    <% } %>
    <nav aria-label="Page navigation example" class="">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-6">
    <div id="indexSearchContainer">
      <img src="https://res.cloudinary.com/dgny2tywl/image/upload/v1680107077/Logo/sekawann_fabdam.png" alt="Logo"
        width="400" height="100" class="d-inline-block align-text-center">
      <div id="indexSearch">
        <form action="/categories" method="get">
          <div class="mb-3 inputContainer">
            <label for="category" class="form-label">Kategori</label>
            <input type="text" class="form-control" id="category" name="categoryName" spellcheck="false">
          </div>
          <div class="mb-3 inputContainer">
            <label for="owner" class="form-label">Pemilik</label>
            <input type="text" class="form-control" id="owner" name="authorName" spellcheck="false">
          </div>
          <div class="buttonContainer">
            <button>
              Cari Soal
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>