<% layout('layouts/boilerplate') %>
<% for (let category of categories) {%>

<div class="col-sm-4 offset-sm-1 card cardIndex mb-4">
  <a href="/categories/<%= category._id %>" class="text-decoration-none">
    <div class="card-header cardIndexHeader">
      <%= category.author.username %>
    </div>
    <div class="card-body cardIndexBody">
      <h5 class="card-title">
        <%= category.categoryName %>
      </h5>

    </div>

  </a>
</div>
<% } %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>