<% layout('layouts/boilerplate') %>
    <div class="col-4 offset-1">
        <h2 class="my-4">Login</h2>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="form-group mb-3">
                <label for="usernameLogin">Username</label>
                <input type="text" class="form-control" id="usernameLogin" name="username" required>
                <div class="invalid-feedback">
                    Input username!
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="passwordLogin">Password</label>
                <input type="password" class="form-control" id="passwordLogin" name="password" required>
                <div class="invalid-feedback">
                    Input password!
                </div>
            </div>
            <button class="btn btn-success">
                Login
            </button>
        </form>
    </div>