<% layout('layouts/boilerplate') %> 
<% for (let category of categories) {%>
    <div class="cardIndex card text-center m-auto mb-4">
        <div class="card-header">
          <%= category.author.username %> 
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= category._id %></h5>
          <a href="/<%= category.author._id %>/<%= category._id %>" class="btn btn-primary">Lihat Soal</a>
        </div>  
      </div>
<% } %>
